*,*::before,*::after{
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, grey,blue);
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.65);
}

.calculator > button:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

#clear, #delete {
    grid-column: span 2;
}

.display{
    background-color: rgba(0,0,0,0.65);
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-display{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.5rem;
}

.output .current-display{
    color: white;
    font-size: 2.5rem;
}

